
.header{
    display: flex;
    background-color: var(--bg-color);
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

nav{
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: var(--text_color);
    font-size: xx-large;
}

.logo img{
    height: 50px;
    width: 70px;
}